<div class="header__icons" role="group">
  <a href="{{ routes.search_url }}">{% render 'icon-search' %}</a>
  <a href="{{ routes.account_url }}">{% render 'icon-account' %}</a>
  <a href="{{ routes.cart_url }}">{% render 'icon-cart' %}</a>
</div>
